:root {
  --md-admonition-icon--definition: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>notebook-outline</title><path d="M17,4V10L15,8L13,10V4H9V20H19V4H17M3,7V5H5V4C5,2.89 5.9,2 7,2H19C20.05,2 21,2.95 21,4V20C21,21.05 20.05,22 19,22H7C5.95,22 5,21.05 5,20V19H3V17H5V13H3V11H5V7H3M5,5V7H7V5H5M5,19H7V17H5V19M5,13H7V11H5V13Z" /></svg>')
}

.md-typeset .admonition.definition,
.md-typeset details.definition {
  border-color: rgb(43, 155, 70);
}
.md-typeset .definition > .admonition-title,
.md-typeset .definition > summary {
  background-color: rgba(43, 155, 70, 0.1);
}
.md-typeset .definition > .admonition-title::before,
.md-typeset .definition > summary::before {
  background-color: rgb(43, 155, 70);
  -webkit-mask-image: var(--md-admonition-icon--definition);
          mask-image: var(--md-admonition-icon--definition);
}

:root>* {
  --md-primary-fg-color: #63003c;
  --md-primary-fg-color--light: #313E48;
  --md-primary-fg-color--dark: #D6DBDF;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #D6DBDF;
  --md-primary-fg-color--light: #C60B46;
  --md-primary-fg-color--dark: #ED145B;
}

[data-md-color-scheme="slate"] [alt="Kroki"] {
  filter: invert(1);
}

[data-md-color-scheme="slate"] .myimage {
  filter: invert(1);
}


[data-md-color-scheme="slate"] [class="md-header__topic"] {
  color: #313E48;
}

[data-md-color-scheme="slate"] .md-nav--primary .md-nav__title[for="__drawer"] {
  color: #7C8790;
}

.fl-right {
  background: transparent;
  border: 0;
  border-radius: 0;
  color: inherit;
  float: right;
  font: inherit;
  height: auto;
  line-height: 1;
  margin: 0;
  padding: 0 5px 0 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
}

/**
 * Override default focus styles so we can apply our own.
 * Never do this unless you will replace them!!
 */

.fl-right:focus {
  outline: none;
}

.fl-right::-moz-focus-inner {
  border: 0;
}

.fl-right-inner {
  align-items: center;
  height: 2.5em;
  min-width: 2.5em;
  padding: 0 1em;
  position: relative;
  width: 100%;
}



/**
 * Demo styles
 */

.Badge {
  align-items: center;
  background: #313E48;
  border: 3px solid #fff;
  border-radius: 99em;
  color: #fff;
  display: flex;
  font-size: 0.9em;
  font-weight: 400;
  height: 1.75em;
  justify-content: center;
  line-height: 1;
  min-width: 1.75em;
  position: absolute;
  right: -7px;
  top: -2px;
}

[data-md-color-scheme="slate"] .Badge {
  background-color: #63003c;
  border: 3px solid var(--md-default-bg-color);
}

.float-right {
  float: right;
}

article {
  border: #D6DBDF 1px solid;
  padding: 10px;
}

.md-typeset h1 {
  border: #D6DBDF 1px solid;
  margin: -21px -11px -11px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

article p {
  text-align: justify;
  text-justify: inter-word;
}

.important {
  color:#C60B46;
}

.blue {
  color: blue;
}

[data-md-color-scheme="slate"] .blue {
  color: blue;
  filter: invert();
}

.md-grid {
  max-width: 70rem;
}

.row {
  display: flex;
}

.column-left {
  flex: 50%;
}

.column-right {
  flex: 50%;
  border-left-color: black;
  border-left-width: 1px;
  border-left-style: solid;
  padding-left: 5px;
}

.ll {
  text-decoration: underline;
  text-decoration-style: dashed;
  color: var(--md-primary-fg-color);
  text-underline-offset: 0.15rem;
}

/* Pandas dataframes */

table.dataframe {
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  color: black;
  font-size: 12px;
  table-layout: fixed;
}
.dataframe thead {
  border-bottom: 1px solid black;
  vertical-align: bottom;
}
.dataframe tr, .dataframe th, .dataframe td {
  text-align: right;
  vertical-align: middle;
  padding: 0.5em 0.5em;
  line-height: normal;
  white-space: normal;
  max-width: none;
  border: none;
}
.dataframe th {
  font-weight: bold;
}
.dataframe tbody tr:nth-child(odd) {
  background: #f5f5f5;
}
.dataframe tbody tr:hover {
  background: rgba(66, 165, 245, 0.2);
}
